.logo{
  height: 228px;
  width:auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  position: static;
  float: center;
}

.row label {
  text-align: center;
  color: black;
  font-family: Verdana;
  font-size: medium;
 
  display: flex;
  justify-content: center;
  color: black;
  font-family: Verdana;
  font-size: medium;
  align-item: center;
  font-weight: bold;
 

}

.row input{
  color: 000;
  display: flex;
  justify-content: center;
  width: 25%;
  height: 50px;
  margin: auto;
 
 }

.row {
  padding-bottom: 20px;



  
}

.row1 {
  text-align: center;
  color: black;
  font-family: Verdana;
  font-size: medium;
  display: flex;
  justify-content: center;
  color: blakc;
  font-family: Verdana;
  font-size: medium;
  align-item: center;
  background-color: white;
  border: 2px solid white;
  border-radius: 1%;
  height: 10px;  
  margin: auto;
  width:500px;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  opacity: 0.9;
}

.section{
  overflow: scroll;
  width: auto;
  height: 1150px;
  padding:2px;
  margin-top: 350px;

}

body{
background: #9adee2;
background-image: url("https://assets.codepen.io/5613208/CANDYBACKGROUND5_1.png");
overflow: hidden;

}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #FFF;
}



p, label, input, select {
    font-style: regular;
    font-size: 18px;
}

#plus {
  float: right;
  font-size: 50px;
  display:block;
  color: black;
  margin-right: 50px;
  margin-top: 170px;

 
  
  
}

#plus:hover {
color: black;
}

/*...header...*/
[class*="header-"] {
    padding-top: 10px; 
}
.header-1 {background-color: white;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */

padding: 5px 20px;
}


/*...app...*/
.row3 {
    max-width: 100%;
    margin-left: auto;
    margin-right: 0px;
    padding:2px;
}

#text1 {
 color: black;
  font-family: Helvetica;
  font-size: 20px;
  text-align:center;
  display: none;



}

.scroll{
  position:fixed;
  height:80px;
  width: auto;
  margin-right: 180px;
  margin-left:200px;
  display: flex;
  margin-top: 350px;
  
}